@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-navy: #0a1428;
  --color-gold-light: #c8aa6e;
  --color-gold-heavy: #c89b3c;
  --color-white: #fcfcfc;
  --color-black: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: url("/background.jpg") no-repeat 0 0 / cover;
  font-family: var(--font-beaufort-san);
}

.dark {
  --backgound: var(--color-black);
  --foreground: var(var(--color-white));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

